services:
  eventManager:
    build:
      context: .
      dockerfile: app.dockerfile
    image: event_manager_image
    container_name: ${EVENT_MANAGER_HOST}
    ports:
      - "12345:${EVENT_MANAGER_PORT}"
    volumes:
      - "./app:/app"
    # depends_on:
    #   - eventManagerDB
    environment:
      EVENT_MANAGER_PORT: ${EVENT_MANAGER_PORT}
      DB_HOST: ${EVENT_MANAGER_DB_HOST}
      DB_PORT: ${EVENET_MANAGER_DB_PORT}
      DB_USER: 
      DB_PASSWORD:
    restart: always
    networks:
      - POSnetwork
    
    #ca sa pot sa intru in el
    stdin_open: true
    tty: true 
  
  # eventManagerDB:
  #   build:
  #     context: .
  #     dockerfile: db.dockerfile
  #   image: eventManagerDBImage
  #   container_name: ${EVENT_MANAGER_DB_HOST}
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   environment:
  #     - POSTGRES_PASSWORD: 
  #     - POSTGRES_USER: 
  #     - POSTGRES_DB: 
  #   restart: always
  #   networks:
  #     - POSnetwork

networks:
  POSnetwork:
    driver: bridge
