include:
  - path: ../docker-compose.network.yaml

services:
  eventManager:
    build:
      context: ..
      dockerfile: EventManager/app.dockerfile
    image: event_manager_image
    container_name: ${EVENT_MANAGER_HOST}
    depends_on:
      eventManagerDB:
        condition: service_healthy
    environment:
      EVENT_MANAGER_PORT: ${EVENT_MANAGER_PORT}

      EVENT_MANAGER_DB_HOST: ${EVENT_MANAGER_DB_HOST}
      EVENT_MANAGER_DB_USER: ${EVENT_MANAGER_DB_USER}
      EVENT_MANAGER_DB_PASSWORD: ${EVENT_MANAGER_DB_PASSWORD}
      EVENT_MANAGER_DB_NAME: ${EVENT_MANAGER_DB_NAME}
      EVENT_MANAGER_DB_PORT: ${EVENT_MANAGER_DB_PORT}

      IDM_HOST: idm-service
      IDM_PORT: "50051"
    ports:
      - "${EVENT_MANAGER_PORT}:${EVENT_MANAGER_PORT}"
    restart: always
    networks:
      - event-network
      - pos-network

  eventManagerDB:
    image: postgres:16.10-alpine3.22
    container_name: ${EVENT_MANAGER_DB_HOST}
    volumes:
      - event_db:/var/lib/postgresql/data

    environment:
      POSTGRES_PASSWORD: ${EVENT_MANAGER_DB_PASSWORD}
      POSTGRES_USER: ${EVENT_MANAGER_DB_USER}
      POSTGRES_DB: ${EVENT_MANAGER_DB_NAME}
    restart: always
    networks:
      - event-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${EVENT_MANAGER_DB_USER} -d ${EVENT_MANAGER_DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  event-network:
    name: event-network
    driver: bridge

volumes:
  event_db:
    driver: local
