services:
  eventManager:
    build:
      context: .
      dockerfile: app.dockerfile
    image: event_manager_image
    container_name: ${EVENT_MANAGER_HOST}
    ports:
      - "12345:${EVENT_MANAGER_PORT}"
    volumes:
      - "./app:/app"
    depends_on:
      - eventManagerDB
    environment:
      EVENT_MANAGER_PORT: ${EVENT_MANAGER_PORT}

      EVENT_MANAGER_DB_HOST: ${EVENT_MANAGER_DB_HOST}
      EVENT_MANAGER_DB_USER: ${EVENT_MANAGER_DB_USER}
      EVENT_MANAGER_DB_PASSWORD: ${EVENT_MANAGER_DB_PASSWORD}
      EVENT_MANAGER_DB_NAME: ${EVENT_MANAGER_DB_NAME}
      EVENT_MANAGER_DB_PORT: ${EVENT_MANAGER_DB_PORT}
    restart: always
    networks:
      - POSnetwork
    #ca sa pot sa intru in el
    stdin_open: true
    tty: true 
  
  eventManagerDB:
    image: postgres:16.10-alpine3.22
    container_name: ${EVENT_MANAGER_DB_HOST}
    ports:
      - "5432:${EVENT_MANAGER_DB_PORT}"
    volumes:
      - auth_db:/var/lib/postgresql/data
    
    environment:
      POSTGRES_PASSWORD: ${EVENT_MANAGER_DB_PASSWORD}
      POSTGRES_USER: ${EVENT_MANAGER_DB_USER}
      POSTGRES_DB: ${EVENT_MANAGER_DB_NAME}
    restart: always
    networks:
      - POSnetwork

networks:
  POSnetwork:
    driver: bridge

volumes:
  auth_db:
    driver: local
