include:
  - path: ../docker-compose.network.yaml

services:
  userService:
    build:
      context: ..
      dockerfile: User/user.dockerfile
    image: user_service_image
    container_name: ${USER_HOST}
    depends_on:
      userDB:
        condition: service_healthy
    environment:
      USER_PORT: ${USER_PORT}

      USER_DB_HOST: ${USER_DB_HOST}
      USER_DB_USER: ${USER_DB_USER}
      USER_DB_PASSWORD: ${USER_DB_PASSWORD}
      USER_DB_NAME: ${USER_DB_NAME}
      USER_DB_AUTH_SOURCE: ${USER_DB_AUTH_SOURCE}

      USER_DB_PORT: ${USER_DB_PORT}

      IDM_HOST: ${IDM_HOST}
      IDM_PORT: ${IDM_PORT}

      SERVICE_EMAIL: ${SERVICE_EMAIL:-clients_service@system.local}
      SERVICE_PASSWORD: ${SERVICE_PASSWORD:-service_secret_password}

      EVENT_MANAGER_HOST: ${EVENT_MANAGER_HOST}
      EVENT_MANAGER_PORT: ${EVENT_MANAGER_PORT}
    ports:
      - "${USER_PORT}:${USER_PORT}"
    restart: always
    networks:
      - user-network
      - pos-network

  userDB:
    image: mongo:latest
    container_name: ${USER_DB_HOST}
    volumes:
      - user_db:/data/db
      - ./db/mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${USER_DB_NAME}
      MONGO_USER_ADMIN: ${MONGO_USER_ADMIN}
      MONGO_USER_ADMIN_PASSWORD: ${MONGO_USER_ADMIN_PASSWORD}
      MONGO_DB_OWNER: ${MONGO_DB_OWNER}
      MONGO_DB_OWNER_PASSWORD: ${MONGO_DB_OWNER_PASSWORD}
      MONGO_DB_USER: ${USER_DB_USER}
      MONGO_DB_USER_PASSWORD: ${USER_DB_PASSWORD}
    restart: always
    networks:
      - user-network
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  user-network:
    name: user-network
    driver: bridge

volumes:
  user_db:
    driver: local
