services:
  userService:
    build:
      context: .
      dockerfile: authentification.dockerfile
    image: user_service_image
    container_name: ${USER_HOST}
    network_mode: host
    volumes:
      - "./app:/app"
    depends_on:
      - userDB
    environment:
      USER_PORT: ${USER_PORT}

      USER_DB_HOST: ${USER_DB_HOST}
      USER_DB_USER: ${USER_DB_USER}
      USER_DB_PASSWORD: ${USER_DB_PASSWORD}
      USER_DB_NAME: ${USER_DB_NAME}
      USER_DB_PORT: ${USER_DB_PORT}
    restart: always
    #ca sa pot sa intru in el
    stdin_open: true
    tty: true

  userDB:
    image: mongo:latest
    container_name: ${USER_DB_CONTAINER}
    network_mode: host
    volumes:
      - user_db:/data/db
      - ./db/mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${USER_DB_NAME}
      MONGO_USER_ADMIN: ${MONGO_USER_ADMIN}
      MONGO_USER_ADMIN_PASSWORD: ${MONGO_USER_ADMIN_PASSWORD}
      MONGO_DB_OWNER: ${MONGO_DB_OWNER}
      MONGO_DB_OWNER_PASSWORD: ${MONGO_DB_OWNER_PASSWORD}
      MONGO_DB_USER: ${USER_DB_USER}
      MONGO_DB_USER_PASSWORD: ${USER_DB_PASSWORD}
    restart: always

volumes:
  user_db:
    driver: local
